<!-- Portfolio Section-->
<section class="page-section mt-5" id="estado">
    <div class="container">
        <!-- Contact Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">ESTADOS</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-paw"></i></div>
            <div class="divider-custom-line"></div>
        </div>

        <!-- Section ESTADO -->
        <div class="row justify-content-center">
            <section class="estado" id="estado">
                <div class="container">
                    <div class="row d-flex justify-content-center"> <!-- Agregamos la clase d-flex aquí -->
                        <div class="col-md-6 col-lg-4 mb-2">
                            <div class="card h-100 card-hover"> <!-- Agrega la clase card-hover aquí -->
                                <a class="nav-link py-3 px-0 px-lg-3 rounded" href="/mascotas/campamento">
                                    <img src="https://res.cloudinary.com/dh7xuwoyg/image/upload/v1692303242/Campamento_fyy1kw.png" class="card-img-top" alt="Skyscrapers"/>
                                    <div class="card-body">
                                        <h5 class="card-title text-decoration-underline"> </h5>
                                    </div>
                                    <div class="card-footer text-center">
                                        <h5 class="card-title">🟢 Campamento</h5>
                                    </div>
                                </a>
                            </div>
                        </div>
                        
                        <div class="col-md-6 col-lg-4 mb-2">
                            <div class="card h-100 card-hover"> <!-- Agrega la clase card-hover aquí -->
                                <a class="nav-link py-3 px-0 px-lg-3 rounded" href="/mascotas/adopcion">
                                    <img src="https://res.cloudinary.com/dh7xuwoyg/image/upload/v1692303262/Adopcion_uswfaa.png" class="card-img-top" alt="Skyscrapers"/>
                                    <div class="card-body">
                                        <h5 class="card-title"> </h5>
                                    </div>
                                    <div class="card-footer text-center">
                                        <h5 class="card-title">🟢 Adopción</h5>
                                    </div>
                                </a>
                            </div>
                        </div>
                        
                        <div class="col-md-6 col-lg-4 mb-2">
                            <div class="card h-100 card-hover"> <!-- Agrega la clase card-hover aquí -->
                                <a class="nav-link py-3 px-0 px-lg-3 rounded" href="/mascotas/sin_estado">
                                    <img src="https://res.cloudinary.com/dh7xuwoyg/image/upload/v1692303276/Sin_estado_y6kv6m.png" class="card-img-top" alt="Skyscrapers"/>
                                    <div class="card-body">
                                        <h5 class="card-title text-decoration-underline"> </h5>
                                    </div>
                                    <div class="card-footer text-center">
                                        <h5 class="card-title">🔴 Sin estado</h5>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>
